{% extends "layout.html" %}
{% block body %}
  <h2>Propose flag</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  {{ wargame }}, level {{level_number}}:
  <p>Here you can submit a flag that isn't in the system yet, or that the system marks as incorrect that you believe is correct. It will be manually verified and then entered into the system.</p>
  <form action="{{ url_for('propose_flag', wargame=wargame, level_number=level_number) }}" method=post>
    {{ form.hidden_tag() }}
    <dl>
      <dt>Flag:
      <dd>{{form.flag(size=80)}}
      <dd><input type=submit value=Submit>
   
    </dl>
  </form>
{% endblock %}
